# Misc Editors
*.autosave
.*.swp
.*.swo
*~

# Images
*.png
*.dot

# examples

# Eclipse
TAGS
.metadata
.paths
.project
.projectSettings
.settings

# OCaml
*.cma
*.cmi
*.cmo
*.cmx
*.o
_build
*.native
*.byte


# Mac Rubbish
.DS_Store

config/config.xml
src/localconfig.ml
src/formula_parser/formula_lexer.ml
src/formula_parser/formula_parser.ml
src/formula_parser/formula_parser.mli
tests/dot

rosette/compiled

# Racket
racket/hp.rkt
racket/test.rkt
racket/wp.rkt
racket/internals_builtins_procs.rkt
racket/compiled

# Compilation and run-specific
*.xml
example.jsil
output.txt

# Environment
environment
test262/environment

# LaTeX nonsense
*.blg
*.bbl
*.aux
*.out
*.log
tutorial/main.pdf